## **Import Library and Dataset**

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import joblib
import numpy as np
import tensorflow as tf

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Read the data in the XLSX file using pandas
file_path = '/content/drive/Shareddrives/Product_Base_Capstone/Machine_Learning/Dataset/Stunting Dataset.xlsx'
df = pd.read_excel(file_path)

## **Data Preprocessing**

In [ ]:
#Display Information of dataset
df

,Sex,Age,Birth Weight,Birth Length,Body Weight,Body Length,ASI Eksklusif,Stunting
0,F,56,2.9,50,11.0,90.0,Yes,No
1,F,20,3.3,49,11.1,80.5,No,No
2,M,4,2.8,48,6.5,63.0,No,No
3,F,14,2.0,49,7.0,71.0,Yes,No
4,M,32,3.2,49,11.0,88.7,Yes,No
...,...,...,...,...,...,...,...,...
6495,M,53,2.9,49,15.0,96.0,No,Yes
6496,M,9,2.9,50,7.3,62.0,No,Yes
6497,F,20,1.8,48,7.3,73.0,Yes,Yes
6498,M,11,2.9,49,7.7,66.0,No,Yes
6499,F,14,2.9,49,6.5,66.0,No,Yes

In [ ]:
def label_encoding(sex, age, birth_weight, birth_length, body_weight, body_length, asi_ekslusif):
    # Make dictionary for label encoding
    sex_encoding = {'M': 1, 'F': 0}
    asi_encoding = {'No': 0, 'Yes': 1}
    # Encode asi_ekslusif
    asi_encoded = asi_encoding.get(asi_ekslusif)
    # Encode sex
    sex_encoded = sex_encoding.get(sex)
    return sex_encoded, age, birth_weight, birth_length, body_weight, body_length, asi_encoded

def normalize_data(sex_encoded, age, birth_weight, birth_length, body_weight, body_length, asi_encoded):
    normalization_model = "normalization_model.joblib"
    # Load the saved scaler using joblib
    scaler = joblib.load(normalization_model)
    data = np.array([[sex_encoded, age, birth_weight, birth_length, body_weight, body_length, asi_encoded]])
    # Normalize the data using Joblib
    normalized_data = scaler.transform(data)
    return normalized_data

def predict_stunting(normalize_data):
    # Load the TensorFlow model
    model = "model.h5"
    model = tf.keras.models.load_model(model)
    predictions = model.predict(normalize_data)
    return predictions

In [ ]:
label_encoding("F", 56, 2.9, 50, 11.0, 90.0, "Yes")

(0, 56, 2.9, 50, 11.0, 90.0, 1)

In [ ]:
x = normalize_data(0, 56, 2.9, 50, 11.0, 90.0, 1)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [ ]:
predict_stunting(x)

1/1 [==============================] - 0s 125ms/step

array([[0.76743895]], dtype=float32)

In [ ]:
label_encoding(df)

,Sex,Age,Birth Weight,Birth Length,Body Weight,Body Length,ASI Eksklusif,Stunting
0,0,56,2.9,50,11.0,90.0,1,0
1,0,20,3.3,49,11.1,80.5,0,0
2,1,4,2.8,48,6.5,63.0,0,0
3,0,14,2.0,49,7.0,71.0,1,0
4,1,32,3.2,49,11.0,88.7,1,0
...,...,...,...,...,...,...,...,...
6495,1,53,2.9,49,15.0,96.0,0,1
6496,1,9,2.9,50,7.3,62.0,0,1
6497,0,20,1.8,48,7.3,73.0,1,1
6498,1,11,2.9,49,7.7,66.0,0,1
6499,0,14,2.9,49,6.5,66.0,0,1

In [ ]:
scaler = MinMaxScaler()
from joblib import dump, load
dump(scaler, 'filename.joblib')

['filename.joblib']